<!DOCTYPE html>
<html ng-app="tarefaApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Cadastro de Tarefas</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />

    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>

    <script src="js/controllers/tarefaCtrl.js"></script>
    <script src="js/services/tarefaAPIService.js"></script>
    <script src="js/directives/inputDataDir.js"></script>
</head>
<body ng-controller="tarefaCtrl">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">
                <h4 class="font-weight-bold">Cadastro de Tarefas</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 mb-3">
                        <h4 class="font-weight-bold">Filtrar Tarefas: </h4>
                    </div>
                    <div class="col-9 mb-3">
                        <input type="text" ng-model="consulta.tarefa" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped ">
                            <thead class="table-primary">
                                <tr>
                                    <th title="Código">Código</th>
                                    <th title="ISBN">Tipo</th>
                                    <th title="Tipo">Título</th>
                                    <th title="Tipo">Descricao</th>
                                    <th title="Título">Data</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="t in tarefas | filter: consulta.tarefa | orderBy : '+Data'">
                                    <td>{{ t.Id }}</td>
                                    <td>{{ t.Tipo.Descricao }}</td>
                                    <td>{{ t.Titulo }}</td>
                                    <td>{{ t.Descricao }}</td>
                                    <td>{{ t.Data | date: 'dd/MM/yyyy' }}</td>
                                    <th><button ng-click="tarefaEditar(t)" class="btn btn-dark">Editar</button></th>
                                    <td><button ng-click="tarefaExcluir(t)" class="btn btn-danger">Excluir</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dropdown-divider mt-2"></div>
                <div class="row m-2">
                    <div class="col-12 p-2 bg-light rounded">
                        <h4 class="text-center font-weight-bold">Cadastrar Nova Tarefa</h4>
                    </div>
                </div>
                <form name="formTarefa">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <h6>Título:</h6>
                            <input type="text" maxlength="100" ng-model="tarefa.Titulo" required name="Titulo" class="form-control"></input>
                        </div>
                        <div class="col-12 mb-2">
                            <h6>Descrição:</h6>
                            <textarea maxlength="250" rows="3" ng-model="tarefa.Descricao" required name="Descricao" class="form-control"></textarea>
                        </div>
                        <div class="col-8 mb-2">
                            <h6>Tipo Tarefa:</h6>
                            <select ng-model="tarefa.Tipo" ng-options="t.Descricao for t in tarefaTipo | orderBy: 'Descricao' track by t.Id " required name="Tipo" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-4 mb-2">
                            <h6>Data:</h6>
                            <input input-data type="text" maxlength="18" ng-model="tarefa.Data" required name="Data" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-success float-right mr-2" ng-disabled="formTarefa.$invalid" ng-click="tarefaSalvar(tarefa)" title="Salvar Tarefa">Salvar</button>
                <button type="button" class="btn btn-info float-right mr-2" ng-click="tarefaLimpar(tarefa)" title="Salvar Tarefa">Limpar</button>
            </div>
        </div>
    </div>
</body>
</html>